html {
    scroll-behavior: smooth;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.welcome {
    background: linear-gradient(rgba(185, 21, 3, 0.9), rgba(185, 21, 3, 0.9)), url(../images/conference1.jpg);
    background-size: 100% 100%;
}

.font-small {
    font-size: 14px !important;
}

.font-extra-small {
    font-size: 13px !important;
}

.button {
    font-size: 14px !important;
    padding: 5px 20px !important;
    width: auto !important;
}

.navbar-design {
    width: inherit !important;
    padding: 5px 50px 5px 10px !important;
}

.box-padding {
    padding: 50px 0px 50px 100px !important;
}

.common-Style {
    padding: 70px 30px !important;
}

.light {
    background-color: #f9f9f9 !important;
}

.dark {
    background-color: #353542;
}

.pink-border {
    position: relative;
}

.pink-border::after {
    content: "";
    background-color: transparent;
    border: 2px solid rgba(185, 21, 3, 0.4);
    height: 4px;
    width: 4em;
    position: absolute;
    bottom: 7px;
    left: 0px;
}

.bg-party {
    background: linear-gradient(rgba(82, 21, 15, 0.9), rgba(82, 21, 15, 0.9)), url(../images/party.jpeg) no-repeat;
    background-size: 100% 100%;
}

.formRegister {
    background-color: white;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}

.formRegister input {
    border: none;
    padding: 5px;
    background: transparent;

}

.formRegister input[type=button] {
    background-color: #0075f6;
    border-radius: 0px 20px 20px 0px;
    padding: 5px 15px;
}

.formRegister input:focus {
    outline: none;
}

.videoFrame {
    position: relative;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/kunalSir.png) no-repeat;
    background-size: 100% 100%;
    height: 450px;
}
.videoFrame1 {
    background-origin: content-box;
    position: relative;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/conference1.jpg) no-repeat right center;
    background-size: 100% 100%;
    height: 200px;
}
.videoFrame2 {
    background-origin: content-box;
    position: relative;
    background:url(../images/kunal.jpeg);
    background-size: 100% 100%;
}
.playbutton {
    background-color: white;
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50%;
}

.playbutton::after {
    content: "";
    border-left: 20px solid #ff2c7b;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
}

.mt-14 {
    margin-top: 140px;
    ;
}

.card {
    height: 150px;
    text-align: center;
    margin: 10px;
    max-width: 31% !important;
    border: none !important;
    overflow: hidden !important;
}

.card p {
    margin: auto 0;
}

.card-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/ArtificialIntelligence.jpeg) no-repeat;
    background-size: 100% 100%;
}

.card-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/MachineLearning.jpg) no-repeat;
    background-size: 100% 100%;
}

.card-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/DeepLearning.jpeg) no-repeat;
    background-size: 100% 100%;
}

.card-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/QuantumComputing.jpeg) no-repeat;
    background-size: 100% 100%;
}

.card-5 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/NaturalLanguageProcessing.jpeg) no-repeat;
    background-size: 100% 100%;
}

.card-6 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/CloudComputing.jpeg) no-repeat;
    background-size: 100% 100%;
}

.btn-outline {
    border: 1px solid #0075f6 !important;
    padding: 10px 30px !important;
    font-size: 14px;
}

.btn-outline:hover {
    border: 2px solid #0075f6 !important;
}

.icon {
    width: 50px;
    padding: 5px;
    border: 2px solid #dbdbdb;
    border-radius: 10px;
    height: 50px;
}

.icon i {
    font-size: 30px;
}

.box-shadow {
    box-shadow: 0px 0px 10px #cecece;
}

.card-height {
    height: 200px !important;
}
.card-height-in {
    height: 250px !important;
}
.text-color-specific {
    color: #0075f6;
}

.border-right-blue-custom {
    border: 1px solid #0075f6 !important;
    border-radius: 50% !important;
}

.blurImage {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/speaker.jpeg) no-repeat;
    background-size: 100% 100%;
    height: 100%;
    position: relative;
}

.blurImage .image {
    width: 290px;
    height: 430px;
    position: absolute;
    left: -25%;
    top: calc((100% - 430px) / 2);
}

.blurImage .image::after {
    content: "Keynote";
    background-color: #ff2c50;
    position: absolute;
    padding: 5px 20px;
    top: -12px;
    left: 100px;
    color: white;
}

.tabs {
    position: absolute;
    right: 20px;
    top: calc(50% - 60px);
}

.tabs .tabactive {
    background-color: white;
    width: 10px;
    height: 20px;
    margin: 5px;
    border-radius: 20px;
}

.tabs .tab {
    background-color: gray;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px;
}

.overlap {
    position: relative;
    margin-top: 100px;
    border-radius: 10px 10px 0px 0px;
}

.overlap img {
    margin-top: -100px;
    border-radius: 10px;
    width: -webkit-fill-available;
}

.list-style-none {
    list-style: none;
}

.text-red {
    color: #ff2d55;
}

.border-radius {
    border-radius: 10px;
    overflow: hidden;
}

.bg-red {
    background-color: #ff2d55;
}

.afterelement {
    position: relative;
}

.afterelement::after {
    content: "";
    border-left: 8px solid transparent;
    border-top: 8px solid #ff2d55;
    border-right: 8px solid transparent;
    position: absolute;
    bottom: -8px;
    left: calc(50% - 8px);
}

.border-grey {
    border: 1px solid #dbdbdb;
}
.border-red{
    border-bottom: 2px solid #ff2d55;
}
.circle{
    border-radius: 50%;
}
footer img{
    width: -webkit-fill-available;
}
.bookyoursheet{
    background: linear-gradient(rgba(185, 21, 3, 0.9), rgba(185, 21, 3, 0.9)), url(../images/conferences2.jpg);
    background-size: 100% 100%;
}
.nav-link p{
    color: gray !important;
  }

  button.active {
    position: relative;
    background-color: #ff2c7b !important;
  }
  button.active p{
    color:white !important;
  }
  button.active::after {
    content: "";
    position: absolute;
    border-top: 8px solid #ff2c7b;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -8px;
    left: calc(50% - 8px)
  }
  .nav-link-plane{
    border-radius:0px !important;
  }
  button.active-not[aria-selected = "true"] {
    position: relative;
    background-color: #f9f9f9 !important;
    border-bottom: 2px solid #ff2c7b !important;
}
button.active-not::after{
    content: "" !important;
    border:none !important;
}
button.active-not[aria-selected = "true"] p {
    color: #ff2c7b !important;
}
.your-class {
    display: flex;
    position: fixed;
}
.fa-arrow-right{
    top:calc(50% - 25px);
    right: -25px;
}
